*{
    background-color: #181818;
    box-sizing: border-box;
}

body{
    margin: 0;
    transition: all 0.5s ease;
}

nav.list{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 9;
}

nav.list a.logo{
    /* border: 1px solid green;     */
    width: 60px;
    height: 60px;
    background-image: url(../img/logow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    position: relative;
    top: 6%;
    left: 5%;
}

nav.list ul.listselect{
    overflow-y: hidden;
}

nav.list ul.listselect li{
    list-style: none;
    margin-top: 20px;
    display: inline-flex;
    margin-left: 50px;
}

nav.list ul.listselect li > a{
    /* border: 1px solid green; */
    background: transparent;
    color: #EFEFEF;
    font-family: "Dosis";
    text-decoration: none;
    display: flex;

}

nav.list ul.listselect li:nth-child(2) > a{
    color: rgb(243,72,65);
}

nav.list ul.listselect li:last-child{
    margin-right: 80px;
}

nav.list ul.listselect li > a:hover{
    color:rgb(243,72,65);
}

div.dtitle{
    /* border: 1px solid yellow; */
    width: 1200px;
    height: 450px;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
}

div.dcontent{
    /* border: 1px solid red; */
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

div.dname{
    /* border: 1px solid green; */
    width: 400px;
    height: 100px;
    margin-top: 25px;
    font-family: "Anton";
    font-size: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    color: #EFEFEF;
}

div.dname span{
    border-top: 3px solid rgb(243,72,65);
    width: 100px;
}

div.socialicon{
    /* border: 1px solid blue; */
    width: 400px;   
    height: 100px;
    margin-bottom: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: transparent;
}

div.socialicon > a{
    /* border: 1px solid orange; */
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

div.socialicon a.fbicon{
    background: transparent;
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
}

div.socialicon a.twicon{
    background: transparent;
    background-image: url(../img/tw.png);
    background-repeat: no-repeat;
}

div.socialicon a.igicon{
    background: transparent;
    background-image: url(../img/ig.png);
    background-repeat: no-repeat;
}

div.socialicon a.fbicon:hover{
    opacity: .3;
}

div.socialicon a.twicon:hover{
    opacity: .3;
}

div.socialicon a.igicon:hover{
    opacity: .3;
}

div.dimg{
    /* border: 1px solid orange; */
    width: 300px;
    height: 400px;
    background: transparent;
    background-image: url(../img/designer/9.jpg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
}

div.about{
    /* border: 1px solid blue; */
    background-color: #EFEFEF;
    width: 100%;
    height: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.about div.atitle{
    /* border: 1px solid green; */
    width: 600px;
    height: 100px;
    background: transparent;
    margin-top: 50px;
    font-family: "Dosis";
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

div.about div.atitle span{
    /* border-top: 3px solid rgb(243,72,65); */
    width: 200px;
    background: transparent;
}

div.about div.acontent{
    /* border: 1px solid orange; */
    width: 600px;
    height: 400px;
    background: transparent;
    font-family: "Dosis";
    font-size: 20px;
    padding-top: 40px;
}

div.collection{
    /* border: 1px solid yellow; */
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.collection span{
    border: 1px solid rgb(243,72,65);
    width: 120px;
    height: 20px; 
    background: tomato;
    position: relative;
    bottom: 340px;
    right: 300px;
}

div.collection div.ctitle{
    /* border: 1px solid orange; */
    width: 400px;
    height: 100px;
    font-family: "Anton";
    font-size: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    z-index: 5;
    background: transparent;
    color: #EFEFEF;
    transform: translate(-360px, -100px);
}

div.collection div.slider{
    /* border: 1px solid green; */
    width: 1000px;
    height: 350px;
}

div.slider div.slider-inner div.slide-img a{
    pointer-events: auto;
    cursor: pointer;
}

div.slider{
    position: absolute;
    overflow: hidden;
    margin-top: 50px;
}

div.slider-inner{
    position: absolute;
    width: 200%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    pointer-events: none;
}

div.slide-img{
    height: 300px;
    /* background-color: #EFEFEF; */
    text-align: center;
    padding: 3rem;
}

/* div.slider div.slider-inner div.slide-img a{
    width: 100px;
    height: 100px;
    color: #EFEFEF;
    position: relative;
    top: 230px;
    opacity: 0;
} */

div.one{
    background-image: url(../img/product/jason\ freeny/27.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.two{
    background-image: url(../img/product/jason\ freeny/44.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.three{
    background-image: url(../img/product/jason\ freeny/40.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.four{
    background-image: url(../img/product/jason\ freeny/31.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.five{
    background-image: url(../img/product/jason\ freeny/21.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.six{
    background-image: url(../img/product/jason\ freeny/6.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.seven{
    background-image: url(../img/product/jason\ freeny/12.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.mcollection{
    display: none;
}


/* footer */

footer{
    width: 100%;
    height: 150px;
    background-color: #181818;
    /* border-top: 1px solid gray; */
}

footer .fcontent{
    background: transparent;
    text-align: center;
    /* font-family: "Microsoft JhengHei"; */
    font-size: 10px;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

footer a{
    background: transparent;
    text-decoration: none;
    color: white;
}

footer .fcontent .ftop{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer .fcontent .ftop .fleft{
    display: flex;
    align-items: center;
    /* width: 50%; */
    /* border: 1px solid blue; */
}

footer .fcontent .ftop .fright{
    display: flex;
    align-items: center;
    /* width: 50%; */
    /* border: 1px solid blue; */
}

footer .fcontent .ftop .fleft a{
    margin-left: 20px;
    font-size: 16px;
    font-family: "Dosis";
}

footer .fcontent .ftop .fright img{
    margin-left: 20px;
}

footer .fcontent .fbottom{
    padding: 20px;
}