*{
    background-color: #181818;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    margin: 0;
}

nav.list{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 9;
}

nav.list a.logo{
    /* border: 1px solid green; */
    width: 60px;
    height: 60px;
    background-image: url(../img/logow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    position: relative;
    top: 6%;
    left: 5%;
}

nav.list ul.listselect{
    overflow-y: hidden;
}

nav.list ul.listselect li{
    list-style: none;
    margin-top: 20px;
    display: inline-flex;
    margin-left: 50px;
}

nav.list ul.listselect li > a{
    /* border: 1px solid green; */
    background: transparent;
    color: #EFEFEF;
    font-family: "Dosis";
    text-decoration: none;
    display: flex;

}

nav.list ul.listselect li:nth-child(3) > a{
    color: rgb(243,72,65);
}

nav.list ul.listselect li:last-child{
    margin-right: 80px;
}

nav.list ul.listselect li > a:hover{
    color:rgb(243,72,65);
}

div.galleryimg{
    width: 1200px;
    display: flex;
    justify-content: center;
    /* border: 1px solid yellow; */
    margin: 100px auto;
    background: transparent;
}

div.rightside{
    background: transparent;
    margin-right: 0px;
    width: 800px;
    height: 1600px;
    /* border: 1px solid red; */
    /* margin: 0 0 auto auto; */
    display: grid;
    /* grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px; */
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px; */
    gap: 5px;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
    grid-template-areas: 
        "a1 a1 a1 . . . . ."
        "a1 a1 a1 . . . . ."
        "a1 a1 a1 a2 a2 a2 a2 ."
        "a1 a1 a1 a2 a2 a2 a2 ."
        "a3 a3 a3 a3 a4 a4 a4 a4"
        "a3 a3 a3 a3 a4 a4 a4 a4"
        "a3 a3 a3 a3 a5 a5 a5 ."
        "a3 a3 a3 a3 a5 a5 a5 ."
        "a6 a6 a6 a6 a5 a5 a5 ."
        "a6 a6 a6 a6 a5 a5 a5 ."
        "a7 a7 a7 a7 a7 a8 a8 a8"
        "a7 a7 a7 a7 a7 a8 a8 a8"
        "a7 a7 a7 a7 a7 a9 a9 a9"
        "a10 a10 a10 a10 a11 a9 a9 a9"
        "a10 a10 a10 a10 a11 . . ."
        "a10 a10 a10 a10 a11 . . ."
    ;
    overflow-y: hidden;
}

div.rightside div.one{
    background: transparent;
    grid-area: a1;
    /* border: 1px solid green; */
    background-image: url(../img/photo/21.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.rightside div.two{
    background: transparent;
    grid-area: a2;
    /* border: 1px solid blue; */
    background-image: url(../img/photo/20.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.rightside div.three{
    background: transparent;
    grid-area: a3;
    /* border: 1px solid orange; */
    background-image: url(../img/photo/25.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.rightside div.four{
    background: transparent;
    grid-area: a4;
    /* border: 1px solid red; */
    background-image: url(../img/photo/26.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.rightside div.five{
    background: transparent;
    grid-area: a5;
    /* border: 1px solid darkcyan; */
    background-image: url(../img/photo/1.png);
    background-repeat: no-repeat;
    background-size: 100%;
} 


div.rightside div.six{
    background: transparent;
    grid-area: a6;
    /* border: 1px solid lightcoral; */
    background-image: url(../img/photo/13.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.rightside div.seven{
    background: transparent;
    grid-area: a7;
    /* border: 1px solid lightseagreen; */
    background-image: url(../img/photo/27.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.rightside div.eight{
    background: transparent;
    grid-area: a8;
    /* border: 1px solid lightsalmon; */
    background-image: url(../img/photo/17.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.rightside div.nine{
    background: transparent;
    grid-area: a9;
    /* border: 1px solid greenyellow; */
    background-image: url(../img/photo/31.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background: transparent;
}

div.rightside div.ten{
    background: transparent;
    grid-area: a10;
    /* border: 1px solid brown; */
    background-image: url(../img/photo/12.jpg);
    background-repeat: no-repeat;
    background-size: 100%;    
}

div.rightside div.eleven{
    background: transparent;
    grid-area: a11;
    border-right: 3px solid #EFEFEF;
    width: 20px;
    transform: translateX(20px);
}

div.leftside{
    background: transparent;
    width: 350px;
    height: 1600px;
    /* margin-left: 80px; */
    margin-right: 5px;
    /* border: 1px solid darkorange; */
    display: grid;
    gap: 5px;
    grid-template-columns: 70px;
    grid-template-rows: 100px;
    grid-template-areas: 
    ". . . . ."
    ". b1 b1 b1 b1"
    ". b1 b1 b1 b1"
    "b2 b2 b2 b2 b2"
    "b2 b2 b2 b2 b2"
    "b2 b2 b2 b2 b2"
    "b2 b2 b2 b2 b2"
    ". b3 b3 b3 b3"
    ". b3 b3 b3 b3"
    ". b3 b3 b3 b3"
    "b4 b4 b4 b4 b4"
    "b4 b4 b4 b4 b4"
    ". . b5 b5 b5"
    ". . b5 b5 b5"
    ". . b5 b5 b5"
    ". . . . ."
    ". . . . ."
    ;
    overflow-y: hidden;
}

div.leftside div.twelve{
    background: transparent;
    grid-area: b1;
    /* border: 1px solid darkkhaki; */
    background-image: url(../img/photo/8.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.leftside div.thirteen{
    background: transparent;
    grid-area: b2;
    /* border: 1px solid red; */
    background-image: url(../img/photo/9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div.leftside div.fourteen{  
    background: transparent; 
    grid-area: b3;
    /* border: 1px solid khaki; */
    background-image: url(../img/photo/24.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

div.leftside div.fifteen{   
    background: transparent;
    grid-area: b4;
    /* border: 1px solid forestgreen; */
    background-image: url(../img/photo/15.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

div.leftside div.sixteen{   
    background: transparent;
    grid-area: b5;
    /* border: 1px solid forestgreen; */
    background-image: url(../img/photo/35.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

div.longcontent{
    /* border: 1px solid yellow; */
    background: transparent;
    width: 1000px;
    height: 1000px;
    margin: -100px auto;
    display: flex;
    font-family: "Dosis";
}

div.longcontent div.leftcon{
    /* border: 1px solid blue; */
    background: transparent;
    border-right: 3px solid #EFEFEF;
    width: 714px;
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:#EFEFEF;
}

div.longcontent div.leftcon div.leftone{
    /* border: 1px solid orange; */
    width: 500px;
    height: 100px;
    margin-top: 110px;
    /* background-color: rgb(243,72,65); */
}

div.longcontent div.leftcon div.lefttwo{
    /* border: 1px solid orange; */
    width: 400px;
    height: 120px;
    margin-top: 150px;
    margin-right: 15px;
    /* background-color: rgb(243,72,65); */

}

div.longcontent div.leftcon div.leftthree{
    /* border: 1px solid orange; */
    width: 600px;
    height: 120px;
    margin-top: 130px;
    margin-right: 15px;
    /* background-color: rgb(243,72,65); */
}

div.longcontent div.rightcon{
    /* border: 1px solid green; */
    width: 276px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.longcontent div.rightcon > div{
    /* border: 1px solid blue; */
    width: 200px;
    height: 200px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

div.longcontent div.rightcon > div > div{
    /* border: 1px solid orange; */
    width: 100px;
    height: 45px;
    text-align: center;
}

div.longcontent div.rightcon > div > div:first-child{
    height: 5px;
    width: 50px;
    background-color: rgb(243,72,65);
}

div.longcontent div.rightcon > div > div:last-child{
    width: 150px;
    color: #EFEFEF;
}

div.rwdlongcon{
    display: none;
}

div.toptitle{
    display: none;
}


/* footer */

footer{
    width: 100%;
    height: 200px;
    background-color: #181818;
    /* border-top: 1px solid gray; */
    overflow-y: hidden;
}

footer .fcontent{
    background: transparent;
    text-align: center;
    /* font-family: "Microsoft JhengHei"; */
    font-size: 10px;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

footer a{
    background: transparent;
    text-decoration: none;
    color: white;
}

footer .fcontent .ftop{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer .fcontent .ftop .fleft{
    display: flex;
    align-items: center;
    /* width: 50%; */
    /* border: 1px solid blue; */
}

footer .fcontent .ftop .fright{
    display: flex;
    align-items: center;
    /* width: 50%; */
    /* border: 1px solid blue; */
}

footer .fcontent .ftop .fleft a{
    margin-left: 20px;
    font-size: 16px;
    font-family: "Dosis";
}

footer .fcontent .ftop .fright img{
    margin-left: 20px;
}

footer .fcontent .fbottom{
    padding: 20px;
}