*{
    background-color: #181818;
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav.list{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
}

nav.list a.logo{
    /* border: 1px solid green; */
    width: 80px;
    height: 80px;
    margin-left: 80px;
    background-image: url(../img/logow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

nav.list ul.listselect li{
    list-style: none;
    margin-top: 20px;
    display: inline-flex;
    margin-left: 50px;
}

nav.list ul.listselect li > a{
    /* border: 1px solid green; */
    background: transparent;
    color: #EFEFEF;
    font-family: "Dosis";
    text-decoration: none;
    display: flex;

}

nav.list ul.listselect li:last-child{
    margin-right: 80px;
}

nav.list ul.listselect li > a:hover{
    color:rgb(243,72,65);
}

section.imgbanner{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 400px;
    margin: 30px auto;
    position: absolute;
    overflow: hidden;
}

@keyframes zoomout{
    100%{
        width: 100%;
    }
}

section.imgbanner div.banner1 img{
    width: 120%;
    position: absolute;
    /* transform: translate(50px , -200px); */
    animation-name: zoomout;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

section.imgbanner div.banner1 div.textcontent{
    width: 600px;
    height: 300px;
    color:#EFEFEF;
    position: absolute;
    top: 100px;
    background: transparent;
    font-family: "Dosis";
}

section.imgbanner div.banner1 div.textcontent h1{
    background: transparent;
    margin-left: 80px;
}

section.imgbanner div.banner1 div.textcontent div{
    width: 100px;
    height: 3px;
    background: rgb(243,72,65);
    margin-left: 80px;
}

section.imgbanner div.banner1 div.textcontent p{
    background: transparent;
    margin-left: 80px;
}


section.imgbanner div.banner2 img{
    width: 120%;
    position: absolute;
    /* transform: translate(50px , -200px); */
    animation-name: zoomout;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

section.imgbanner div.banner2 div.textcontent{
    width: 600px;
    height: 300px;
    color:#EFEFEF;
    position: absolute;
    top: 100px;
    background: transparent;
    font-family: "Dosis";
}

section.imgbanner div.banner2 div.textcontent h1{
    background: transparent;
    margin-left: 80px;
}

section.imgbanner div.banner2 div.textcontent div{
    width: 100px;
    height: 3px;
    background: rgb(243,72,65);
    margin-left: 80px;
}

section.imgbanner div.banner2 div.textcontent p{
    background: transparent;
    margin-left: 80px;
}

/* section.imgbanner div.banner3{
    position: absolute;
    left: 0;
    overflow: hidden;
} */

section.imgbanner div.banner3 img{
    width: 120%;
    position: absolute;
    /* transform: translate(50px , -200px); */
    animation-name: zoomout;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

section.imgbanner div.banner3 div.textcontent{
    width: 600px;
    height: 300px;
    color:#EFEFEF;
    position: absolute;
    top: 100px;
    background: transparent;
    font-family: "Dosis";
}

section.imgbanner div.banner3 div.textcontent h1{
    background: transparent;
    margin-left: 80px;
}

section.imgbanner div.banner3 div.textcontent div{
    width: 100px;
    height: 3px;
    background: rgb(243,72,65);
    margin-left: 80px;
}

section.imgbanner div.banner3 div.textcontent p{
    background: transparent;
    margin-left: 80px;
}

section.imgbanner div.banner4 img{
    width: 120%;
    position: absolute;
    /* transform: translate(50px , -200px); */
    animation-name: zoomout;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

section.imgbanner div.banner4 div.textcontent{
    width: 600px;
    height: 300px;
    color:#EFEFEF;
    position: absolute;
    top: 100px;
    background: transparent;
    font-family: "Dosis";
}

section.imgbanner div.banner4 div.textcontent h1{
    background: transparent;
    margin-left: 80px;
}

section.imgbanner div.banner4 div.textcontent div{
    width: 100px;
    height: 3px;
    background: rgb(243,72,65);
    margin-left: 80px;
}

section.imgbanner div.banner4 div.textcontent p{
    background: transparent;
    margin-left: 80px;
}

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

section.imgbanner div.banner1{
    animation-name: slide1;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

section.imgbanner div.banner2{
    animation-name: slide2;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

section.imgbanner div.banner3{
    animation-name: slide3;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

section.imgbanner div.banner4{
    animation-name: slide4;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

div.allnews{
    /* border: 1px solid red; */
    transform: translateY(450px);
}


a.news1{
    /* border: 1px solid blue; */
    width: 1000px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    text-decoration: none;
}

a.news1:hover{
    background-color: rgb(243,72,65);
}

a.news1:hover .content2{
    color: #EFEFEF;
}

a.news1 div.content1{
    /* border: 1px solid orange;  */
    width: 200px;
    height: 30px;
    margin-right: 5px;
    font-size: 20px;
    font-family: "Dosis";
    text-align: center;
    color:#EFEFEF;
    background: transparent;
}

a.news1 div.content2{
    /* border: 1px solid red;  */
    width: 100px;
    height: 50px;
    margin-right: 5px;
    font-size: 35px;
    font-family: "Dosis";
    text-align: center;
    color: rgb(243,72,65);
    background: transparent;
}

a.news1 div.line1{
    border-left: 2px solid #EFEFEF;
    height: 50px;
    margin-right: 5px;
    background: transparent;
}

a.news1 div.content3{
    /* border: 1px solid green;  */
    width: 700px;
    height: 30px;
    font-size: 20px;
    font-family: "Dosis";
    text-align: center;
    color: #EFEFEF;
    background: transparent;
}

/* div.exhibition1 div.content1{
    border: 1px solid orange; 
    width: 200px;
    height: 30px;
    margin-right: 5px;
    font-size: 20px;
    font-family: "Dosis";
    text-align: center;
    color:#EFEFEF;
}

div.exhibition1 div.content2{
    border: 1px solid red; 
    width: 100px;
    height: 50px;
    margin-right: 5px;
    font-size: 35px;
    font-family: "Dosis";
    text-align: center;
    color: rgb(243,72,65);

}

div.exhibition1 div.line1{
    border-left: 2px solid #EFEFEF;
    height: 50px;
    margin-right: 5px; 
}

div.exhibition1 div.content3{
    border: 1px solid green; 
    width: 700px;
    height: 30px;
    font-size: 20px;
    font-family: "Dosis";
    text-align: center;
    color: #EFEFEF;
} */

footer{
    width: 100%;
    height: 100px;
    background-color: #EFEFEF;
    transform: translateY(600px);
}

footer .fcontent{
    background: transparent;
    text-align: center;
    /* font-family: "Microsoft JhengHei"; */
    font-size: 10px;
    padding-top: 20px;
}

footer a{
    background: transparent;
    text-decoration: none;
}