@media screen and (min-width: 992px) and (max-width: 1199px){

    div.newsname{
        /* border: 1px solid yellow; */
        width: 990px;
        
    }

    div.newsname div.date{
        margin-left: 0;
    }

    div.mainnews{
        /* border: 1px solid yellow; */
        width: 990px;
    }


}


@media screen and (min-width: 768px) and (max-width: 991px){
    /* nav hamburger */

    nav.list{
        position: relative;
        position: fixed;
    }


    nav.list div.hamburger div.line{
        width: 30px;
        height: 3px;
        background-color: #efefef;
        margin: 5px;
        transition: .5s ease-in;
    }

    nav.list div.hamburger{
        position: absolute;
        cursor: pointer;
        top: 6%;
        right: 5%;
        transform: translate(-5%, -50%);
        z-index: 11;
        background: transparent;
        position: fixed;
    }


    nav.list ul.listselect{
        position: fixed;
        background-color: rgb(243,72,65);
        width: 100%;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        /* display: none; */
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all .6s ease-out;
    }
    
    nav.list ul.listselect li{
        background: transparent;
        margin-top: 80px;
        margin-left: 0;
    }
    
    nav.list ul.listselect li:first-child > a{
        color: #efefef;
    }
    
    nav.list ul.listselect li > a:hover{
        color: #efefef;
    }

    nav.list ul.listselect li:last-child{
        margin-right: 0px;
    }


    nav.list ul.listselect.open{
        clip-path: circle(1500px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -20%);
        transition: .5s ease-in;
    }

    
    nav.list div.hamburger div.line1.change{
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: .5s ease-in;
    }

    nav.list div.hamburger div.line2.change{
        opacity: 0;
        transition: .5s ease-in;
    }    

    nav.list div.hamburger div.line3.change{
        transform: rotate(45deg) translate(-5px, -6px);
        transition: .5s ease-in;
    }

    div.newsname{
        /* border: 1px solid yellow; */
        width: 700px;
        height: 150px;
        
    }

    div.newsname div.date{
        margin-left: 0;
        font-size: 20px;
    }

    div.newsname div.headline{
        /* border: 1px solid blue; */
        font-size: 35px;
        margin-top: 30px;
    }


    div.mainnews{
        /* border: 1px solid yellow; */
        width: 765px;
        flex-direction: column;
        height: 900px;
        align-items: center;
        margin-top: 0;
    }

    div.mainnews div.newsimg{
        margin-top: 0;
        width: 700px;
        height: 500px;
        background-repeat: no-repeat;
    }

    div.mainnews div.content{
        margin-top: 0;
    }

    div.mainnews div.content > p{
        width: 700px;
        margin-left: 0px;
    }

    div.mainnews div.content div.back a{
        margin-left: 0px;
    }

}


@media screen and (min-width: 576px) and (max-width: 767px){
    /* nav hamburger */

    nav.list{
        position: relative;
        position: fixed;
    }


    nav.list div.hamburger div.line{
        width: 30px;
        height: 3px;
        background-color: #efefef;
        margin: 5px;
        transition: .5s ease-in;
    }

    nav.list div.hamburger{
        position: absolute;
        cursor: pointer;
        top: 6%;
        right: 5%;
        transform: translate(-5%, -50%);
        z-index: 11;
        background: transparent;
        position: fixed;
    }


    nav.list ul.listselect{
        position: fixed;
        background-color: rgb(243,72,65);
        width: 100%;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        /* display: none; */
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all .6s ease-out;
    }
    
    nav.list ul.listselect li{
        background: transparent;
        margin-top: 80px;
        margin-left: 0;
    }
    
    nav.list ul.listselect li:first-child > a{
        color: #efefef;
    }
    
    nav.list ul.listselect li > a:hover{
        color: #efefef;
    }

    nav.list ul.listselect li:last-child{
        margin-right: 0px;
    }


    nav.list ul.listselect.open{
        clip-path: circle(1500px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -20%);
        transition: .5s ease-in;
    }

    
    nav.list div.hamburger div.line1.change{
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: .5s ease-in;
    }

    nav.list div.hamburger div.line2.change{
        opacity: 0;
        transition: .5s ease-in;
    }    

    nav.list div.hamburger div.line3.change{
        transform: rotate(45deg) translate(-5px, -6px);
        transition: .5s ease-in;
    }

    div.newsname{
        /* border: 1px solid yellow; */
        width: 576px;
        height: 200px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    }

    div.newsname div.date{
        margin-left: 0;
        font-size: 20px;
        /* border: 1px solid pink; */
    }

    div.newsname div.line{
        background-color: gray;
        height: 2px;
        width: 150px;
        border: 0px;
    }

    div.newsname div.headline{
        /* border: 1px solid blue; */
        font-size: 35px;
        margin-top: 20px;
        width: 576px;
        margin-left: 0;
    }


    div.mainnews{
        /* border: 1px solid yellow; */
        width: 576px;
        flex-direction: column;
        height: 900px;
        align-items: center;
        margin-top: 0;
    }

    div.mainnews div.newsimg{
        margin-top: 0;
        width: 576px;
        height: 300px;
        background-repeat: no-repeat;
    }

    div.mainnews div.content{
        margin-top: 0;
    }

    div.mainnews div.content > p{
        width: 576px;
        margin-left: 0px;
    }

    div.mainnews div.content div.back a{
        margin-left: 0px;
    }



}

@media screen and (max-width: 575px){
    /* nav hamburger */

    nav.list{
        position: relative;
        position: fixed;
    }


    nav.list div.hamburger div.line{
        width: 30px;
        height: 3px;
        background-color: #efefef;
        margin: 5px;
        transition: .5s ease-in;
    }

    nav.list div.hamburger{
        position: absolute;
        cursor: pointer;
        top: 6%;
        right: 5%;
        transform: translate(-5%, -50%);
        z-index: 11;
        background: transparent;
        position: fixed;
    }


    nav.list ul.listselect{
        position: fixed;
        background-color: rgb(243,72,65);
        width: 100%;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        /* display: none; */
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all .6s ease-out;
    }
    
    nav.list ul.listselect li{
        background: transparent;
        margin-top: 80px;
        margin-left: 0;
    }
    
    nav.list ul.listselect li:first-child > a{
        color: #efefef;
    }
    
    nav.list ul.listselect li > a:hover{
        color: #efefef;
    }

    nav.list ul.listselect li:last-child{
        margin-right: 0px;
    }


    nav.list ul.listselect.open{
        clip-path: circle(1500px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -20%);
        transition: .5s ease-in;
    }

    
    nav.list div.hamburger div.line1.change{
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: .5s ease-in;
    }

    nav.list div.hamburger div.line2.change{
        opacity: 0;
        transition: .5s ease-in;
    }    

    nav.list div.hamburger div.line3.change{
        transform: rotate(45deg) translate(-5px, -6px);
        transition: .5s ease-in;
    }

    div.newsname{
        /* border: 1px solid yellow; */
        width: 350px;
        height: 200px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    }

    div.newsname div.date{
        margin-left: 0;
        font-size: 20px;
        /* border: 1px solid pink; */
    }

    div.newsname div.line{
        background-color: gray;
        height: 2px;
        width: 150px;
        border: 0px;
    }

    div.newsname div.headline{
        /* border: 1px solid blue; */
        font-size: 30px;
        margin-top: 20px;
        width: 350px;
        margin-left: 0;
    }


    div.mainnews{
        /* border: 1px solid yellow; */
        width: 350px;
        flex-direction: column;
        height: 900px;
        align-items: center;
        margin-top: 0;
    }

    div.mainnews div.newsimg{
        margin-top: 5px;
        width: 350px;
        height: 220px;
        background-repeat: no-repeat;
    }

    div.mainnews div.content{
        margin-top: 0;
        /* border: 1px solid green; */
        width: 350px;
    }

    div.mainnews div.content > p{
        width: 350px;
        margin-left: 0px;
    }

    div.mainnews div.content div.back a{
        margin-left: 0px;
    }

    div.back{
        width: 350px;
    }


}