@media screen and (min-width: 992px) and (max-width: 1199px){
    
    
    div.galleryimg{
        /* border: 1px solid yellow; */
        width: 992px;

    }

    div.rightside{
        width: 725px;
        height: 1500px;
        /* border: 1px solid blue; */
        grid-template-columns: 145px;
        grid-template-rows: 100px;
    }

    div.rightside > div{
        /* border: 1px solid red; */
    }
    
    div.leftside > div{
        /* border: 1px solid red; */
    }

    div.leftside{
        width: 265px;
        /* border: 1px solid green; */
    }

    div.leftside div.twelve{
    background-image: url(../img/photo/39.png);
    }

    div.leftside div.thirteen{
    background-image: url(../img/photo/40.png);
    }

    div.leftside div.fourteen{
    background-image: url(../img/photo/41.png);
    }

    div.leftside div.sixteen{
    background-image: url(../img/photo/42.png);
    }

    div.longcontent{
        /* border: 1px solid lightcoral; */
        width: 992px;
        margin-top: -201px;
    }

    div.longcontent div.leftcon{
        width: 698px;
    }



}


@media screen and (min-width: 768px) and (max-width: 991px){
    /* nav hamburger */

    nav.list{
        position: relative;
        position: fixed;
    }


    nav.list div.hamburger div.line{
        width: 30px;
        height: 3px;
        background-color: #efefef;
        margin: 5px;
        transition: .5s ease-in;
    }

    nav.list div.hamburger{
        position: absolute;
        cursor: pointer;
        top: 6%;
        right: 5%;
        transform: translate(-5%, -50%);
        z-index: 11;
        background: transparent;
        position: fixed;
    }


    nav.list ul.listselect{
        position: fixed;
        background-color: rgb(243,72,65);
        width: 100%;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        /* display: none; */
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all .6s ease-out;
    }
    
    nav.list ul.listselect li{
        background: transparent;
        margin-top: 80px;
        margin-left: 0;
    }
    
    nav.list ul.listselect li:nth-child(3) > a{
        color: #efefef;
    }
    
    nav.list ul.listselect li > a:hover{
        color: #efefef;
    }

    nav.list ul.listselect li:last-child{
        margin-right: 0px;
    }


    nav.list ul.listselect.open{
        clip-path: circle(1500px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -20%);
        transition: .5s ease-in;
    }

    
    nav.list div.hamburger div.line1.change{
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: .5s ease-in;
    }

    nav.list div.hamburger div.line2.change{
        opacity: 0;
        transition: .5s ease-in;
    }    

    nav.list div.hamburger div.line3.change{
        transform: rotate(45deg) translate(-5px, -6px);
        transition: .5s ease-in;
    }

    div.galleryimg{
        width: 768px;
        height: 1420px;
        /* border: 1px solid yellow; */
    }

    div.rightside{
        display: none;
    }

    div.leftside{
        display: none;
    }

    div.rwdside{
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 175px;
        gap: 5px;
    }

    div.rwdside > div{
        /* border: 1px solid lightseagreen; */
        color: white;
    }

    div.rwdside div.rtwo{
        grid-area: 1 / 2 / 3 / 3;
        background-image: url(../img/photo/21.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rwdside div.rfour{
        background-image: url(../img/photo/8.jpg);
        background-repeat: no-repeat;
        background-size: 100%;    
    }

    div.rwdside div.rfive{
        background-image: url(../img/photo/43.png);
        background-repeat: no-repeat;
        background-size: 100%;        
    }

    div.rwdside div.rsix{
        grid-area: 3 / 1 / 5 / 2;
        background-image: url(../img/photo/46.png);
        background-repeat: no-repeat;
        background-size: 100%;    
    }

    div.rwdside div.rseven{
        grid-area: 3 / 2 / 5 / 3;
        background-image: url(../img/photo/45.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }    

    div.rwdside div.reight{
        background-image: url(../img/photo/44.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rwdside div.rnine{
        grid-area: 4 / 3 / 6 / 4;
        background-image: url(../img/photo/1.png);
        background-repeat: no-repeat;
        background-size: 100%;    
    }    

    div.rwdside div.rten{
        grid-area: 5 / 1 / 7 / 2;
        background-image: url(../img/photo/48.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rwdside div.releven{
        background-image: url(../img/photo/47.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rwdside div.rtwelve{
        grid-area: 6 / 2 / 8 / 4;
        background-image: url(../img/photo/17.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rwdside div.rthirteen{
        grid-area: 7 / 1 / 9 / 2;
        background-image: url(../img/photo/15.jpg);
        background-repeat: no-repeat;
        background-size: 100%;    
    }

    div.rwdside div.rfourteen{
        background-image: url(../img/photo/31.png);
        background-repeat: no-repeat;
        background-size: 100%;        
    }

    div.rwdside div.rfifteen{
        background-image: url(../img/photo/12.jpg);
        background-repeat: no-repeat;
        background-size: 100%;            
    }


    div.longcontent{
        /* border: 1px solid yellow; */
        width: 768px;
    }

    div.longcontent div.leftcon div.leftthree{
        /* border: 1px solid blue; */
        width: 500px;
        height: 150px;
        
    }


}

@media screen and (min-width: 576px) and (max-width: 767px){

    /* nav hamburger */

    nav.list{
        position: relative;
        position: fixed;
    }


    nav.list div.hamburger div.line{
        width: 30px;
        height: 3px;
        background-color: #efefef;
        margin: 5px;
        transition: .5s ease-in;
    }

    nav.list div.hamburger{
        position: absolute;
        cursor: pointer;
        top: 6%;
        right: 5%;
        transform: translate(-5%, -50%);
        z-index: 11;
        background: transparent;
        position: fixed;
    }


    nav.list ul.listselect{
        position: fixed;
        background-color: rgb(243,72,65);
        width: 100%;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        /* display: none; */
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all .6s ease-out;
    }
    
    nav.list ul.listselect li{
        background: transparent;
        margin-top: 80px;
        margin-left: 0;
    }
    
    nav.list ul.listselect li:nth-child(3) > a{
        color: #efefef;
    }
    
    nav.list ul.listselect li > a:hover{
        color: #efefef;
    }

    nav.list ul.listselect li:last-child{
        margin-right: 0px;
    }


    nav.list ul.listselect.open{
        clip-path: circle(1500px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -20%);
        transition: .5s ease-in;
    }

    
    nav.list div.hamburger div.line1.change{
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: .5s ease-in;
    }

    nav.list div.hamburger div.line2.change{
        opacity: 0;
        transition: .5s ease-in;
    }    

    nav.list div.hamburger div.line3.change{
        transform: rotate(45deg) translate(-5px, -6px);
        transition: .5s ease-in;
    }

    div.galleryimg{
        width: 576px;
        /* border: 1px solid yellow; */
    }

    div.rightside{
        display: none;
    }

    div.leftside{
        display: none;
    }

    div.rwdside{
        display: grid;
        grid-template-columns: 282px 282px;
        grid-template-rows: 180px 180px 180px 180px 180px 180px 180px 180px 180px 180px 180px;
        gap: 5px;
    }

    div.rwdside > div{
        /* border: 1px solid lightseagreen; */
        color: white;
    }

    div.rone{
        grid-area: 1 / 1 / 3 / 2;
        background-image: url(../img/photo/21.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rtwo{
        background-image: url(../img/photo/8.jpg);
        background-repeat: no-repeat;
        background-size: 100%;   
    }

    div.rthree{
        background-image: url(../img/photo/43.png);
        background-repeat: no-repeat;
        background-size: 100%;            
    }

    div.rfour{
        grid-area: 3 / 1 / 5 / 2;
        background-image: url(../img/photo/46.png);
        background-repeat: no-repeat;
        background-size: 100%;            
    }

    div.rfive{
        grid-area: 3 / 2 / 5 / 3;
        background-image: url(../img/photo/45.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rsix{
        background-image: url(../img/photo/44.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rseven{
        background-image: url(../img/photo/47.png);
        background-repeat: no-repeat;
        background-size: 100%;    
    }

    div.reight{
        grid-area: 6 / 1 / 8 / 2;
        background-image: url(../img/photo/48.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rnine{
        grid-area: 6 / 2 / 8 / 3;
        background-image: url(../img/photo/1.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.rten{
        grid-area: 8 / 1 / 10 / 3;
        background-image: url(../img/photo/17.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.releven{
        background-image: url(../img/photo/15.jpg);
        background-repeat: no-repeat;
        background-size: 100%;   
    }

    div.rtwelve{
        background-image: url(../img/photo/31.png);
        background-repeat: no-repeat;
        background-size: 100%;        
    }

    div.rthirteen{
        background-image: url(../img/photo/10.jpg);
        background-repeat: no-repeat;
        background-size: 100%;      
    }

    div.rfourteen{
        background-image: url(../img/photo/12.jpg);
        background-repeat: no-repeat;
        background-size: 100%;      
    }

    div.longcontent{
        display: none;
    }

    div.rwdlongcon{
        /* border: 1px solid lightpink; */
        width: 565px;
        height: 900px;
        margin: -80px auto;
        display: block;
    }

    div.rwdlongcon div.rwdname{
        /* border: 1px solid orange; */
        width: 250px;
        height: 100px;
        font-family: "Anton";
        font-size: 30px;
        color: rgb(243,72,65);
    
    }

    div.rwdlongcon div.rwdline{
        width: 250px;
        height: 3px;
        border-bottom: 3px solid rgb(243,72,65);
    }

    div.rwdlongcon div.rwdcon{
        /* border: 1px solid blue; */
        margin-top: 10px;
        width: 565px;
        height: 120px;
        font-size: 16px;
        font-family: "Dosis";
        color: #efefef;
    }

}

@media screen and (max-width: 575px){
    /* nav hamburger */

    nav.list{
        position: relative;
        position: fixed;
    }


    nav.list div.hamburger div.line{
        width: 30px;
        height: 3px;
        background-color: #efefef;
        margin: 5px;
        transition: .5s ease-in;
    }

    nav.list div.hamburger{
        position: absolute;
        cursor: pointer;
        top: 6%;
        right: 5%;
        transform: translate(-5%, -50%);
        z-index: 11;
        background: transparent;
        position: fixed;
    }


    nav.list ul.listselect{
        position: fixed;
        background-color: rgb(243,72,65);
        width: 100%;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        /* display: none; */
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all .6s ease-out;
    }
    
    nav.list ul.listselect li{
        background: transparent;
        margin-top: 80px;
        margin-left: 0;
    }
    
    nav.list ul.listselect li:nth-child(3) > a{
        color: #efefef;
    }
    
    nav.list ul.listselect li > a:hover{
        color: #efefef;
    }

    nav.list ul.listselect li:last-child{
        margin-right: 0px;
    }


    nav.list ul.listselect.open{
        clip-path: circle(1500px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -20%);
        transition: .5s ease-in;
    }

    
    nav.list div.hamburger div.line1.change{
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: .5s ease-in;
    }

    nav.list div.hamburger div.line2.change{
        opacity: 0;
        transition: .5s ease-in;
    }    

    nav.list div.hamburger div.line3.change{
        transform: rotate(45deg) translate(-5px, -6px);
        transition: .5s ease-in;
    }

    div.rightside{
        display: none;
    }

    div.leftside{
        display: none;
    }

    div.galleryimg{
        display: none;
    }

    div.longcontent{
        display: none;
    }

    div.mobanner{
        width: 100%;
        height: 400px;
        margin: 100px auto 0 auto;
        /* border: 1px solid lightseagreen; */
        background-image: url(../img/photo/14.png);
        background-size: 100%;
        background-repeat: no-repeat;
        overflow-y: hidden;
        position: relative;
    }

    div.mobanner div.toptitle{
        /* border: 1px solid yellow; */
        width: 100%;
        height: 300px;
        margin: 0 auto;
        position: absolute;
        top: 60%;
        z-index: 5;
        background: transparent;
        overflow-y: hidden;
        display: block;
    }

    div.mobanner div.toptitle h1{
        /* border: 1px solid red; */
        text-align: center;
        color: rgb(243,72,65);
        font-family: "Anton";
        font-size: 80px;
        line-height: 80px;
        background: transparent;
        overflow-y: hidden;
    }

    div.line{
        /* border: 1px solid lightgreen; */
        width: 150px;
        height: 3px;
        background-color: #efefef;
        margin: 0 auto;
    }


    div.mogallery{
        width: 320px;
        height: 4300px;
        /* border: 1px solid yellow; */
        margin: 70px auto;
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: 450px 200px 200px 440px 440px 220px 220px 440px 450px 220px 220px 210px 210px 220px;
        gap: 10px;
    }

    div.mogallery div.one{
        background-image: url(../img/photo/21.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.mogallery div.two{
        background-image: url(../img/photo/8.jpg);
        background-repeat: no-repeat;
        background-size: 100%; 
    }

    div.mogallery div.three{
        background-image: url(../img/photo/43.png);
        background-repeat: no-repeat;
        background-size: 100%; 
    }

    div.mogallery div.four{
        background-image: url(../img/photo/46.png);
        background-repeat: no-repeat;
        background-size: 100%;     
    }

    div.mogallery div.five{
        background-image: url(../img/photo/45.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    div.mogallery div.six{
        background-image: url(../img/photo/44.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.mogallery div.seven{
        background-image: url(../img/photo/47.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.mogallery div.eight{
        background-image: url(../img/photo/48.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.mogallery div.nine{
        background-image: url(../img/photo/1.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.mogallery div.ten{
        background-image: url(../img/photo/17.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    div.mogallery div.eleven{
        background-image: url(../img/photo/15.jpg);
        background-repeat: no-repeat;
        background-size: 100%; 
    }

    div.mogallery div.twelve{
        background-image: url(../img/photo/31.png);
        background-repeat: no-repeat;
        background-size: 100%; 
    }

    div.mogallery div.thirteen{
        background-image: url(../img/photo/10.jpg);
        background-repeat: no-repeat;
        background-size: 100%;  
    }

    div.mogallery div.fourteen{
        background-image: url(../img/photo/12.jpg);
        background-repeat: no-repeat;
        background-size: 100%; 
    }

    div.rwdlongcon{
        /* border: 1px solid lightpink; */
        width: 320px;
        height: 1200px;
        margin: -80px auto;
        display: block;
    }

    div.rwdlongcon div.rwdname{
        /* border: 1px solid orange; */
        width: 250px;
        height: 100px;
        font-family: "Anton";
        font-size: 30px;
        color: rgb(243,72,65);
    
    }

    div.rwdlongcon div.rwdline{
        width: 250px;
        height: 3px;
        border-bottom: 3px solid rgb(243,72,65);
    }

    div.rwdlongcon div.rwdcon{
        /* border: 1px solid blue; */
        margin-top: 10px;
        width: 320px;
        height: 210px;
        font-size: 16px;
        font-family: "Dosis";
        color: #efefef;
    }



}