*{
    background-color: #181818;
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav.list{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 15;
}

nav.list a.logo{
    /* border: 1px solid green;     */
    width: 60px;
    height: 60px;
    background-image: url(../img/logow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    position: relative;
    top: 6%;
    left: 5%;
}

nav.list ul.listselect{
    overflow-y: hidden;
}

nav.list ul.listselect li{
    list-style: none;
    margin-top: 20px;
    display: inline-flex;
    margin-left: 50px;
}

nav.list ul.listselect li > a{
    /* border: 1px solid green; */
    background: transparent;
    color: #EFEFEF;
    font-family: "Dosis";
    text-decoration: none;
    display: flex;

}

nav.list ul.listselect li:nth-child(4) > a{
    color: rgb(243,72,65);
}

nav.list ul.listselect li:last-child{
    margin-right: 80px;
}

nav.list ul.listselect li > a:hover{
    color:rgb(243,72,65);
}

/* bannerimg */

div.productbanner{
    /* border: 1px solid yellow; */
    margin: 100px auto 0 auto;
    width: 1200px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

div.productbanner div.pdimg1{
    width: 600px;
    /* width: 180px; */
    height: 350px;
    /* background-color: aqua; */
    position: absolute;
    z-index: 2;
    background-image: url(../img/product/selectbanner/8.png);
    background-repeat: no-repeat;
    background-size: auto;
    transition: all 1s linear;
}

div.productbanner div.pdimg2{
    width: 600px;
    /* width: 180px; */
    height: 350px;
    /* background-color: darkblue; */
    position: absolute;
    left: 150px;
    z-index: 3;
    background-image: url(../img/product/selectbanner/3.png);
    background-repeat: no-repeat;
    transition: all 1s linear;
}

div.productbanner div.pdimg3{
    width: 600px;
    /* width: 180px; */
    height: 350px;
    /* background-color: darkcyan; */
    position: absolute;
    left: 300px;
    z-index: 4;
    background-image: url(../img/product/selectbanner/4.png);
    background-repeat: no-repeat;
    transition: all 1s linear;
}

div.productbanner div.pdimg4{
    width: 600px;
    /* width: 185px; */
    height: 350px;
    /* background-color: #ffff00; */
    position: absolute;
    left: 450px;
    z-index: 5;
    background-image: url(../img/product/selectbanner/2.png);
    background-repeat: no-repeat;
    transition: all 1s linear;
}

div.productbanner div.pdimg5{
    /* width: 550px; */
    width: 600px;
    height: 350px;
    /* background-color: yellowgreen; */
    position: absolute;
    left: 600px;
    z-index: 6;
    background-image: url(../img/product/selectbanner/7.png);
    background-repeat: no-repeat;
    transition: all 1s linear;
}

div.carousel-container{
    display: none;
}

button#prevBtn{
    display: none;
}

button#nextBtn{
    display: none;
}


/* bannerimg1 */

div.productbanner div.pdimg1:hover ~ div.pdimg2{
    transform: translateX(420px);
    transition: all 1s linear;
}

div.productbanner div.pdimg1:hover ~ div.pdimg3{
    width: 150px;
    transform: translateX(420px);
    transition: all 1s linear;
}

div.productbanner div.pdimg1:hover ~ div.pdimg4{
    width: 150px;
    transform: translateX(420px);
    transition: all 1s linear;
}

div.productbanner div.pdimg1:hover ~ div.pdimg5{
    width: 180px;
    transform: translateX(420px);
    transition: all 1s linear;
}

/* bannerimg2 */

div.productbanner div.pdimg2:hover ~ div.pdimg3{
    width: 150px;
    transform: translateX(420px);
    transition: all 1s linear;
}

div.productbanner div.pdimg2:hover ~ div.pdimg4{
    width: 150px;
    transform: translateX(420px);
    transition: all 1s linear;
}

div.productbanner div.pdimg2:hover ~ div.pdimg5{
    width: 180px;
    transform: translateX(420px);
    transition: all 1s linear;
}



/* bannerimg3 */

div.productbanner div.pdimg3:hover ~ div.pdimg4{
    width: 150px;
    transform: translateX(420px);
    transition: all 1s linear;
}

div.productbanner div.pdimg3:hover ~ div.pdimg5{
    width: 180px;
    transform: translateX(420px);
    transition: all 1s linear;
}



/* bannerimg4 */

div.productbanner div.pdimg4:hover ~ div.pdimg5{
    width: 180px;
    transform: translateX(420px);
    transition: all 1s linear;
}


/* bannerimg5 */



/* product img */

div.productimg1{
    /* border: 2px solid green; */
    width: 1200px;
    height: 250px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;

}

div.productimg1 > div{
    /* border: 1px solid yellow; */
    width: 250px;
    height: 250px;
}

div.productimg1 > div:first-child{
    margin-left: 100px;
}

div.productimg1 > div:last-child{
    margin-right: 100px;
}

div.productimg1 div.firitem1{
    background-image: url(../img/product/selectimg/1.png);
}

div.productimg1 div.firitem2{
    background-image: url(../img/product/selectimg/2.png);
}

div.productimg1 div.firitem3{
    background-image: url(../img/product/selectimg/3.png);
}

div.productimg1 > div:hover{
    opacity: .3;
}

div.price1{
    /* border: 1px solid red; */
    width: 1200px;
    height: 200px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
}

div.price1 > div{
    /* border: 1px solid blue; */
    width: 200px;
    height: 200px;
}

div.price1 > div:first-child{
    margin-left: 125px;
}

div.price1 > div:last-child{
    margin-right: 125px;
}

div.price1 > div > button{
    background-color: rgb(243,72,65);
    color: #EFEFEF;
    border: 2px solid #EFEFEF;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-family: "Dosis";
}

div.price1 > div > button:hover{
    background-color: #EFEFEF;
    color: rgb(243,72,65);
    border: 2px solid rgb(243,72,65);
    transition: .5s;
}

div.price1 div.firprice1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.price1 div.firprice1 > div{
    /* border: 1px solid orange; */
    width: 150px;
    margin-bottom: 20px;
    color:#EFEFEF;
    text-align: center;
    font-family: "Dosis";
}

div.price1 div.firprice1 div.name > a{
    /* border: 1px solid orange; */
    width: 150px;
    margin-bottom: 20px;
    color:#EFEFEF;
    text-align: center;
    font-family: "Dosis";
    text-decoration: none;
}


div.price1 div.firprice1 > div:first-child{
    border-bottom: 2px solid gray;
}

div.price1 div.firprice1 > div:nth-child(2){
    font-size: 30px;
}

div.price1 div.firprice2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.price1 div.firprice2 > div{
    /* border: 1px solid orange; */
    width: 150px;
    margin-bottom: 20px;
    color:#EFEFEF;
    text-align: center;
    font-family: "Dosis";
}

div.price1 div.firprice2 div.name > a{
    /* border: 1px solid orange; */
    width: 150px;
    margin-bottom: 20px;
    color:#EFEFEF;
    text-align: center;
    font-family: "Dosis";
    text-decoration: none;
}

div.price1 div.firprice2 > div:first-child{
    border-bottom: 2px solid gray;
}

div.price1 div.firprice2 > div:nth-child(2){
    font-size: 30px;
}

div.price1 div.firprice3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.price1 div.firprice3 > div{
    /* border: 1px solid orange; */
    width: 150px;
    margin-bottom: 20px;
    color:#EFEFEF;
    text-align: center;
    font-family: "Dosis";
}

div.price1 div.firprice3 div.name > a{
    /* border: 1px solid orange; */
    width: 150px;
    margin-bottom: 20px;
    color:#EFEFEF;
    text-align: center;
    font-family: "Dosis";
    text-decoration: none;
}

div.price1 div.firprice3 > div:first-child{
    border-bottom: 2px solid gray;
}

div.price1 div.firprice3 > div:nth-child(2){
    font-size: 30px;
}

/* second */

div.productimg2{
    /* border: 2px solid green; */
    width: 1200px;
    height: 250px;
    margin: 120px auto 0 auto;
    display: flex;
    justify-content: space-between;

}

div.productimg2 > div{
    /* border: 1px solid yellow; */
    width: 250px;
    height: 250px;
}

div.productimg2 > div:first-child{
    margin-left: 100px;
}

div.productimg2 > div:last-child{
    margin-right: 100px;
}

div.productimg2 div.secitem1{
    background-image: url(../img/product/selectimg/4.png);
}

div.productimg2 div.secitem2{
    background-image: url(../img/product/selectimg/5.png);
}

div.productimg2 div.secitem3{
    background-image: url(../img/product/selectimg/6.png);
}

div.productimg2 > div:hover{
    opacity: .3;
}

/* third */

div.productimg3{
    /* border: 2px solid green; */
    width: 1200px;
    height: 250px;
    margin: 120px auto 0 auto;
    display: flex;
    justify-content: space-between;

}

div.productimg3 > div{
    /* border: 1px solid yellow; */
    width: 250px;
    height: 250px;
}

div.productimg3 > div:first-child{
    margin-left: 100px;
}

div.productimg3 > div:last-child{
    margin-right: 100px;
}

div.productimg3 div.thiritem1{
    background-image: url(../img/product/selectimg/7.png);
}

div.productimg3 div.thiritem2{
    background-image: url(../img/product/selectimg/8.png);
}

div.productimg3 div.thiritem3{
    background-image: url(../img/product/selectimg/9.png);
}

div.productimg3 > div:hover{
    opacity: .3;
}

/* fourth */

div.productimg4{
    /* border: 2px solid green; */
    width: 1200px;
    height: 250px;
    margin: 120px auto 0 auto;
    display: flex;
    justify-content: space-between;

}

div.productimg4 > div{
    /* border: 1px solid yellow; */
    width: 250px;
    height: 250px;
}

div.productimg4 > div:first-child{
    margin-left: 100px;
}

div.productimg4 > div:last-child{
    margin-right: 100px;
}

div.productimg4 div.fouritem1{
    background-image: url(../img/product/selectimg/10.png);
}

div.productimg4 div.fouritem2{
    background-image: url(../img/product/selectimg/11.png);
}

div.productimg4 div.fouritem3{
    background-image: url(../img/product/selectimg/12.png);
}

div.productimg4 > div:hover{
    opacity: .3;
}

div.mobimg1{
    display: none;
}

div.mobpri{
    display: none;
}

div.mobanner{
    display: none;
}

div.mobimg1{
    display: none;
}

div.mobimg2{
    display: none;
}

div.mobimg3{
    display: none;
}

div.mobimg4{
    display: none;
}

div.mobimg5{
    display: none;
}

div.mobimg6{
    display: none;
}

div.mobimg7{
    display: none;
}

div.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(218, 204, 204, 0.5);
    z-index: 10;
    display: none;
}

/* 元素 article 置中及基本樣式 */
div.overlay > article{
    background-color: white;
    width: 90%;
    height: 350px;
    max-width: 600px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.overlay article{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div.overlay article button.btn_modal_close{
    background: transparent;
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    border: 0px;
}

div.overlay article div.sidecontent{
    /* border: 1px solid pink; */
    height: 270px;
    width: 90%;
    margin: 0 auto;
    background: transparent;
    display: flex;
}

div.overlay article div.sidecontent div.sideleft{
    background: transparent;
    width: 50%;
}

div.overlay article div.sidecontent div.sideleft img{
    width: 100%;
}

div.overlay article div.sidecontent div.sideright{
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    margin-left: 10px;
    width: 50%;
}

div.overlay article div.sidecontent div.sideright div.nameToy{
    background: transparent;
    font-family: "Anton";
    font-size: 20px;
}

div.overlay article div.sidecontent div.sideright div.linetoy{
    width: 50px;
    height: 3px;
    border-color: gray;
}

div.overlay article div.sidecontent div.sideright div.conToy{
    background: transparent;
    font-family: "Dosis";
    font-size: 16px;
    color: gray;
}

div.overlay article div.sidecontent div.sideright div.priceToy{
    background: transparent;
    font-family: "Dosis";
    font-size: 16px;
}

div.overlay article button.cart{
    margin-right: 50%;
    transform: translateX(50%);
    background-color: rgb(243,72,65);
    color: #EFEFEF;
    border: 2px solid #EFEFEF;
    border-radius: 5px;
    font-family: "Dosis";
    width: 100px;
    height: 30px;
}


/* footer */

footer{
    width: 100%;
    height: 150px;
    background-color: #181818;
    /* border-top: 1px solid gray; */
}

footer .fcontent{
    background: transparent;
    text-align: center;
    /* font-family: "Microsoft JhengHei"; */
    font-size: 10px;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

footer a{
    background: transparent;
    text-decoration: none;
    color: white;
}

footer .fcontent .ftop{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer .fcontent .ftop .fleft{
    display: flex;
    align-items: center;
    /* width: 50%; */
    /* border: 1px solid blue; */
}

footer .fcontent .ftop .fright{
    display: flex;
    align-items: center;
    /* width: 50%; */
    /* border: 1px solid blue; */
}

footer .fcontent .ftop .fleft a{
    margin-left: 20px;
    font-size: 16px;
    font-family: "Dosis";
}

footer .fcontent .ftop .fright img{
    margin-left: 20px;
}

footer .fcontent .fbottom{
    padding: 20px;
}