*{
    background-color: #181818;
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav.list{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
}

nav.list div.logo{
    /* border: 1px solid green; */
    width: 80px;
    height: 80px;
    margin-left: 80px;
    background-image: url(../img/logow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

nav.list ul.listselect li{
    list-style: none;
    margin-top: 20px;
    display: inline-flex;
    margin-left: 50px;
}

nav.list ul.listselect li > a{
    /* border: 1px solid green; */
    background: transparent;
    color: #EFEFEF;
    font-family: "Dosis";
    text-decoration: none;
    display: flex;

}

nav.list ul.listselect li:last-child{
    margin-right: 80px;
}

nav.list ul.listselect li > a:hover{
    color:rgb(243,72,65);
}

div.banner{
    /* border: 1px solid red; */
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    display: flex;
}

div.leftb{
    /* border: 1px solid blue; */
    width: 375px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



div.rightb{
    /* border: 1px solid greenyellow; */
    width: 375px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


div.mapimg{
    /* border: 1px solid yellow; */
    width: 450px;
    height: 550px;
    margin: 0 auto;
}

@keyframes clickme{
    0%{
        fill: rgb(243,72,65);
    }
    50%{
        fill: #EFEFEF;
    }
    100%{
        fill: rgb(243,72,65);
    }
}

svg path#path2513{
    animation-name: clickme;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

svg path#path2525{
    animation-name: clickme;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

svg path#path2535{
    animation-name: clickme;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

svg path#path2517{
    animation-name: clickme;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

#path2513:hover{
    opacity: .3;
}

#path2515:hover{
    opacity: .3;
}

#path2517:hover{
    opacity: .3;
}

#path2519:hover{
    opacity: .3;
}

#path2521:hover{
    opacity: .3;
}

#path2523:hover{
    opacity: .3;
}

#path2525:hover{
    opacity: .3;
}

#path2527:hover{
    opacity: .3;
}

#path2529:hover{
    opacity: .3;
}

#path2531:hover{
    opacity: .3;
}

#path2533:hover{
    opacity: .3;
}

#path2535:hover{
    opacity: .3;
}

/* 1 */

div.shopcontent{
    /* border: 1px solid green; */
    width: 220px;
    height: 300px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s ease-in-out;
}

div.shopcontent div.img1{
    width: 220px;
    height: 400px;
    background-image: url(../img/1.jpg);
    background-size: 100%;
}

div.shopcontent h1{
    margin-top: -15px;
    /* border: 1px solid greenyellow; */
    background: transparent;
    color: rgb(243,72,65);
    font-family: "Anton";
}

div.shopcontent span{
    background: transparent;
    margin-top: -25px;
    color: #EFEFEF;
    font-family: "Anton";
}

/* 2 */

div.shopcontent2{
    /* border: 1px solid yellow; */
    width: 220px;
    height: 150px;
    margin-left: 150px;
    transform: translateY(-30px);
    transition: .5s ease-in-out; 
}

div.shopcontent2 div.img2{
    width: 220px;
    height: 150px;
    background-image: url(../img/5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

div.shopcontent2 h1{
    margin-top: -45px;
    background: transparent;
    color: rgb(243,72,65);
    font-family: "Anton";
}

div.shopcontent2 div.ad{
    margin-top: -20px;
    /* border: 1px solid pink; */
    background: transparent;
    color: #EFEFEF;
    font-family: "Anton";
}

/* 3 */

div.shopcontent3{
    /* border: 1px solid yellow; */
    width: 220px;
    height: 150px;
    margin-top: -100px;
    transition: .5s ease-in-out;
}

div.shopcontent3 div.img3{
    width: 220px;
    height: 150px;
    background-image: url(../img/3.jpg);
    background-size: 100%;
}

div.shopcontent3 h1{
    margin-top: -30px;
    background: transparent;
    color: rgb(243,72,65);
    font-family: "Anton";
}

div.shopcontent3 div.ad3{
    margin-top: -25px;
    background: transparent;
    color: #EFEFEF;
    font-family: "Anton";
}

/* 4 */

div.shopcontent4{
    /* border: 1px solid yellow; */
    width: 220px;
    height: 150px;
    margin-left: 100px;
    margin-top: 100px;
    transition: .5s ease-in-out;
}

div.shopcontent4 div.img4{
    width: 220px;
    height: 150px;
    background-image: url(../img/7.jpg);
    background-size: 100%;
}

div.shopcontent4 h1{
    margin-top: -30px;
    background: transparent;
    color: rgb(243,72,65);
    font-family: "Anton";
}

div.shopcontent4 div.ad4{
    margin-top: -20px;
    background: transparent;
    color: #EFEFEF;
    font-family: "Anton";
}

/* line */

div.shopcontent div.line1{
    border-top: 2px solid rgb(243,72,65);
    width: 130px;
    height: 100px;
    transform: rotate(15deg);
    background: transparent;
    position: relative;
    left: 220px;
    top: -100px;
}

div.shopcontent2 div.line2{
    border-top: 2px solid rgb(243,72,65);
    width: 50px;
    height: 100px;
    background: transparent;
    position: relative;
    left: 230px;
    bottom: 150px;
}

div.shopcontent3 div.line3{
    border-bottom: 2px solid rgb(243,72,65);
    width: 130px;
    height: 100px;
    transform: rotate(340deg);
    background: transparent;
    position: relative;
    right: 150px;
    bottom: 130px;
}

div.shopcontent4 div.line4{
    border-bottom: 2px solid rgb(243,72,65);
    width: 200px;
    height: 100px;
    transform: rotate(340deg);
    background: transparent;
    position: relative;
    right: 240px;
    bottom: 160px;
}



/* next part */

div.shop1{
    /* border: 1px solid yellow; */
    width: 1200px;
    height: 300px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.shop1 div.shopimg{
    /* border: 1px solid green; */
    width: 500px;
    height: 280px;
    background-image: url(../img/1.jpg);
    background-size: 100%;
}

div.shop1 div.shopint{
    /* border: 1px solid green; */
    width: 500px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.shop1 div.shopint div.shopname{
    border-left: 2px solid #EFEFEF;
    width: 400px;
    height: 50px;
    font-size: 30px;
    font-family: "Anton";
    color: rgb(243,72,65);
    padding-left: 12px;
}

div.shop1 div.shopint div.shopad{
    border-left: 2px solid #EFEFEF;
    width: 400px;
    height: 40px;
    font-size: 18px;
    font-family: "Dosis";
    color: #EFEFEF;
    padding-left: 12px;
}

div.shop1 div.shopint div.shopcon{
    /* border: 1px solid blue; */
    width: 400px;
    height: 100px;
    font-size: 16px;
    font-family: "Dosis";
    color: #EFEFEF;
    padding-left: 12px;
    padding-top: 5px;
}

div.shop1 div.shopimg2{
    /* border: 1px solid green; */
    width: 500px;
    height: 280px;
    background-image: url(../img/3.jpg);
    background-size: 100%;
}

div.shop1 div.shopimg3{
    /* border: 1px solid green; */
    width: 500px;
    height: 280px;
    background-image: url(../img/5.jpg);
    background-size: 100%;
}

div.shop1 div.shopimg4{
    /* border: 1px solid green; */
    width: 500px;
    height: 280px;
    background-image: url(../img/7.jpg);
    background-size: 100%;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #EFEFEF;
}

footer .fcontent{
    background: transparent;
    text-align: center;
    /* font-family: "Microsoft JhengHei"; */
    font-size: 10px;
    padding-top: 20px;
}

footer a{
    background: transparent;
    text-decoration: none;
}